.confirm-reset-password 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.confirm-reset-password__heading
{
    text-align: center;
}

.confirm-reset-password__form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.confirm-reset-password__password-container
{
    display: flex;
    gap: 10px;
}

.confirm-reset-password__password-container .text-input 
{
    flex: 1;
}

.confirm-reset-password__password-container .icon 
{
    cursor: pointer;
    margin-top: 30px;
}


.confirm-reset-password__btn-container
{
    display: grid;
    place-content: center;
}

.confirm-reset-password__btn
{
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: green;
    color: white; 
    transition: all 0.2s linear;
}

.confirm-reset-password__btn:not(:disabled):hover
{
    background-color: rgb(10, 168, 10);
}

.confirm-reset-password__btn:disabled
{
    opacity: 0.5;
}

.confirm-reset-password__bottom 
{
    display: flex;
    gap: 10px;
}

.confirm-reset-password__link
{
    color: blue;
    font-weight: 400;
}


.confirm-reset-password__link:hover
{
    color: rgb(50, 50, 204);
}



@media screen and (min-width: 576px) 
{
    .confirm-reset-password 
    {
        padding: 0 100px;
    }
}