.order-and-history
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orders
{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.history
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}