.profile__heading 
{
    text-align: center;
}

.profile__heading-icon
{
    font-size: 50px !important;
}

.profile__input
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20%;    
}

.profile__input-form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile__input-group
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile__input-group *
{
    flex: 0.5;
}

.profile__input-submit-btn-container 
{
    text-align: center;
    margin: 10px 0;
}

.profile__input-submit-btn
{
    border: none; 
    outline: none;
    padding: 5px 10px;
    background-color: rgb(25, 25, 183);;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    transition: all 0.2s linear;
}

.profile__input-submit-btn:hover 
{
    background-color: blue;
}

.profile__input-submit-btn:disabled
{
    opacity: 0.3;
}